// bright theme
$color-bright-primary: #F6F5F5;
$color-bright-secondary: #D3E0EA;
$color-off-white: rgba(243, 243, 243, 0.23);
$color-bright-tertiary: #1687A7;
$color-primary-blue: #276678;
$color-primary-red: #E84545;

$color-primary-highlight: #ed8a43;
$color-lost-gray: #4f4c4c;
$color-background-gray: #ebebeb;


$color-secondary-black-50: rgba(0, 0, 0, 0.5);
$color-primary-gray: #333333;
