<div class="shop-footer">
  <div class="info">
    <div class="logo">
      <img src="../../../../../assets/images/white-logo.png" [width]="250" height="auto">
    </div>
    <div class="meta ff-small-text">
      &copy; Fitness Flame Nutrition <br/>
      All Rights Reserved
    </div>
    <div class="social-media">
      <div class="social-link underline-effect" (click)="navigateTo(socialLinks.INSTAGRAM)">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>

      <div class="social-link underline-effect" (click)="navigateTo(socialLinks.FACEBOOK)">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>

      <div class="social-link underline-effect" (click)="navigateTo(socialLinks.LINKED_IN)">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </div>

      <div class="social-link underline-effect">
        <a href="mailto:{{socialLinks.GMAIL}}">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="links">
    <div class="products section">
      <div class="section-heading ff-h2">Products</div>
      <ul>
        <li>
          <a class="ff-small-text">Peanut Butter</a>
        </li>
        <li>
          <a class="ff-small-text">Protein Bars</a>
        </li>
      </ul>
    </div>
    <div class="about section">
      <div class="section-heading ff-h2">About</div>
      <ul>
        <li class="footer-list-item">
          <a class="ff-small-text">About us</a>
        </li>
        <li class="footer-list-item">
          <a class="ff-small-text">Contact</a>
        </li>
      </ul>
    </div>
    <div class="support section">
      <div class="section-heading ff-h2">Support</div>
      <ul>
        <li class="footer-list-item">
          <a class="ff-small-text">Track my Order</a>
        </li>
        <li class="footer-list-item">
          <a class="ff-small-text">FAQs</a>
        </li>
        <li class="footer-list-item">
          <a class="ff-small-text">Privacy Policy</a>
        </li>
        <li class="footer-list-item">
          <a class="ff-small-text">Refunds and Cancellations</a>
        </li>
        <li class="footer-list-item">
          <a class="ff-small-text">Shipping Policy</a>
        </li>
      </ul>
    </div>
    <div class="map-outlet"></div>
  </div>
</div>
