<div class="review-card">
  <div class="profile-picture">
    <img class="img" src="https://st.depositphotos.com/2101611/4338/v/950/depositphotos_43381243-stock-illustration-male-avatar-profile-picture.jpg"/>
  </div>
  <div class="profile-data">
    <div class="name">Haris Khan</div>
    <div class="rating ff-small-text">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
    </div>
    <div class="review">
      A very good team to work with, I have been with these people
      for almost 3 years now, The amount of effort they bring in to
      improve the product everytime is just amazing
    </div>
  </div>
</div>
