<div class="sidebar-container">
  <div class="head">
    <div class="greet">
      <div class="main ff-heading">
        <strong>Hello</strong> FitGeek!
      </div>
      <div class="sub-text ff-small-text">
        <i>Let's fuel you up</i>
      </div>
    </div>
    <mat-icon class="pointer" (click)="toggleSidebar.emit()">close</mat-icon>
  </div>

  <div class="action-links">
    <ul>
      <li class="ff-h4 ff-color-primary-gray">
        What's New
      </li>
      <li class="ff-h4 ff-color-primary-gray">
        Products
      </li>
      <li class="ff-h4 ff-color-primary-gray">
        Nutrition & You
      </li>
      <li class="ff-h4 ff-color-primary-gray">
        Your Cart
      </li>
      <li class="ff-h4 ff-color-primary-gray">
        About
      </li>
      <li class="ff-h4 ff-color-primary-gray">
        Work with us
      </li>
    </ul>
  </div>
</div>
